html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: row; /* sidebar left, content right */
}

.large-header {
    font-size: 5.5rem;      /* makes it really large */
    font-weight: bold;     /* optional: makes it bold */
    color: #601EF9;        /* optional: change color */
    margin-bottom: 21px;   /* spacing below */
}

/* Sidebar container holds About Me + Sidebar menu */
.sidebar-container {
    width: 220px;
    display: flex;
    flex-direction: column;
    background-color: #1abc9c; /* sidebar menu background */
}

.no-bullets {
    list-style: none;   /* removes bullets */
    padding: 0px;;         /* removes default left padding */
    margin: 0;          /* removes default top/bottom margin */
}

.no-bullets li {
    padding: 2px 0;     /* optional: spacing between items */
}


/* About Me section */
.about-me {
    background-color: #601EF9;
    color: whitesmoke;
    padding: 20px;
}

/* Sidebar navigation */
.resources {
    background-color: #1abc9c; /* sidebar menu background */
    flex-grow: 1; /* fills remaining vertical space below About Me */
    display: flex;
    flex-direction: column;
}

.resources a {
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.resources a:hover {
    background-color: #16a085;
}

/* Main content */
.content {
    flex-grow: 1; /* take remaining horizontal space */
    padding: 20px;
}
